<!DOCTYPE HTML>
<html>

<head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-R4PHHMRLBR"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', '{{ site.google_analytics }}');
	</script>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ site.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ site.description }}" />
	<meta name="keywords" content="{{ site.keywords }}" />
	<meta name="author" content="{{ site.author }}" />

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="{{ site.title }}" />
	<meta property="og:image" content="{{ site.url }}images/xinmeng_og_image.jpg" />
	<meta property="og:url" content="{{ site.url }}" />
	<meta property="og:site_name" content="{{ site.title }}" />
	<meta property="og:description" content="{{ site.description }}" />
	<meta name="twitter:title" content="{{ site.title }}" />
	<meta name="twitter:image" content="{{ site.url }}images/xinmeng_twitter_image.jpg" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<!-- <link rel="shortcut icon" href="favicon.ico"> -->

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{{ site.baseurl }}assets/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{{ site.baseurl }}assets/css/bootstrap.css">
	<!-- Theme style  -->
	<link rel="stylesheet" href="{{ site.baseurl }}assets/main.css">

</head>

<body id="home">
	<div id="xinmeng-page">
		<div class="container-wrap">
			<a href="#" class="js-xinmeng-nav-toggle xinmeng-nav-toggle" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar"><i></i></a>
			<aside id="xinmeng-aside" role="complementary" class="border fullheight">
				<div class="">
					<h1 id="xinmeng-logo"><a href="{{ site.baseurl }}/">Xin Meng</a></h1>
					<span class="position">Professor of Economics</span>
				</div>
				<nav id="xinmeng-main-menu" role="navigation" class="navbar">
					<div id="navbar" class="collapse">
						<ul>
							<li class="active"><a href="#home" data-nav-section="home">Home</a></li>
							<li><a href="#research" data-nav-section="research">Research</a></li>
							<li><a href="#rumic" data-nav-section="rumic">RUMiC Project</a></li>
							<li><a href="#thoughts" data-nav-section="thoughts">Random Thoughts</a></li>
							<li><a href="#contact" data-nav-section="contact">Contact</a></li>
						</ul>
					</div>
				</nav>

				<div class="xinmeng-footer">

					<p>E: <a href="mailto:xin.meng@anu.edu.au">xin.meng@anu.edu.au</a><br>P: <a href="tel:+61261253102">+61 2 6125 3102</a></p>

					<p><a class="btn btn-danger" href="xinmeng_cv.pdf" title="Download Curriculum vitae">Curriculum vitae <i class="icon-file" aria-hidden="true"></i></a></p>


					<!-- Link back to colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					<!-- <p style="color:#f2f3f7;"><small>&copy; Copyright 2023 All rights reserved. Made with <i class="icon-heart" aria-hidden="true"></i> by <a style="color:#f2f3f7;cursor: default;" href="https://colorlib.com" target="_blank">colorlib</a></small></p> -->

				</div>

			</aside>

			<div id="xinmeng-main">
				<section id="xinmeng-hero" class="fullheight xinmeng-hero" data-section="home">
					
					<div class="hero-copy">
						<!-- <h1 class="title">Xin Meng</h1> -->
						<div class="row">
							<div class="copy">

								{% capture my_include %}{% include home_english.md %}{% endcapture %}
								{{ my_include | markdownify }}

							</div>
							<div class="copy copy-chinese">

								{% capture my_include %}{% include home_chinese.md %}{% endcapture %}
								{{ my_include | markdownify }}

							</div>
						</div>

					</div>

					<div class="hero-photo"></div>

				</section>

				<section id="research" class="xinmeng-research" data-section="research">
					<div class="xinmeng-narrow-content">
						<div class="row">
							<div class="col-md-6 col-md-offset-3 col-md-pull-3">
								<h2 class="xinmeng-heading">Research</h2>
							</div>
						</div>

						<div class="row row-bottom-padded-sm">
							<div class="col-md-12">
								<div class="research-desc">

									{% capture my_include %}{% include research.md %}{% endcapture %}
									{{ my_include | markdownify }}

								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="fancy-collapse-panel">
									<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
										<div class="panel panel-default">
											<div class="panel-heading" role="tab" id="headingOne">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion"
														href="#collapseOne" aria-expanded="true"
														aria-controls="collapseOne">Books
													</a>
												</h4>
											</div>
											<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
												aria-labelledby="headingOne">
												<div class="panel-body">
													<div class="row">
														<div class="col-lg-12">
															<ul class="book-listing">
																{% for book in site.data.books %}
																  <li>
																	{% if book.authors %}
																	<span class="authors">
																		{{ book.authors }}
																	</span>
																	{% endif %}
																	{% if book.year %}
																	<span class="year">
																		{{ book.year }}
																	</span>
																	{% endif %}
																	{% if book.title %}
																	<span class="title">
																		{{ book.title }}
																	</span>
																	{% endif %}
																	{% if book.publisher %}
																	<span class="journal">
																		{{ book.publisher }}
																	</span>
																	{% endif %}
																  </li>
																{% endfor %}
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading" role="tab" id="headingTwo">
												<h4 class="panel-title">
													<a class="collapsed" data-toggle="collapse" data-parent="#accordion"
														href="#collapseTwo" aria-expanded="false"
														aria-controls="collapseTwo">Book Chapters
													</a>
												</h4>
											</div>
											<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
												aria-labelledby="headingTwo">
												<div class="panel-body">
													<ul class="chapters-listing">
														{% for chapters in site.data.chapters %}
														  <li>
															{% if chapters.authors %}
															<span class="authors">
																{{ chapters.authors }}
															</span>
															{% endif %}
															{% if chapters.year %}
															<span class="year">
																{{ chapters.year }}
															</span>
															{% endif %}
															{% if chapters.title %}
															<span class="title">
																{{ chapters.title }}
															</span>
															{% endif %}
															{% if chapters.editors %}
															<span class="editors">
																{{ chapters.editors }}
															</span>
															{% endif %}
															{% if chapters.book %}
															<span class="book">
																{{ chapters.book }}
															</span>
															{% endif %}
															{% if chapters.publisher %}
															<span class="publisher">
																{{ chapters.publisher }}
															</span>
															{% endif %}
															{% if chapters.pages %}
															<span class="pages">
																{{ chapters.pages }}
															</span>
															{% endif %}
														  </li>
														{% endfor %}
													</ul>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading" role="tab" id="headingThree">
												<h4 class="panel-title">
													<a class="collapsed" data-toggle="collapse" data-parent="#accordion"
														href="#collapseThree" aria-expanded="false"
														aria-controls="collapseThree">Journal Articles
													</a>
												</h4>
											</div>
											<div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
												aria-labelledby="headingThree">
												<div class="panel-body">
													<div class="row">
														<div class="col-lg-12">
															<ul class="research-listing">
																{% for publication in site.data.publications %}
																  <li>
																	{% if publication.authors %}
																	<span class="authors">
																		{{ publication.authors }}
																	</span>
																	{% endif %}
																	{% if publication.year %}
																	<span class="year">
																		{{ publication.year }}
																	</span>
																	{% endif %}
																	{% if publication.title %}
																	<span class="title">
																		{{ publication.title }}
																	</span>
																	{% endif %}
																	{% if publication.journal %}
																	<span class="journal">
																		{{ publication.journal }}
																	</span>
																	{% endif %}
																	{% if publication.section %}
																	<span class="section">
																		{{ publication.section }}
																	</span>
																	{% endif %}
																  </li>
																{% endfor %}
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section id="rumic" class="xinmeng-about" data-section="rumic">
					<div class="xinmeng-narrow-content">
						<div class="row">
							<div class="col-md-12">
								<div class="row row-bottom-padded-sm">
									<div class="col-md-12">
										<div class="about-desc">
											<h2 class="xinmeng-heading">RUMiC Project</h2>

											{% capture my_include %}{% include rumic.md %}{% endcapture %}
											{{ my_include | markdownify }}

										</div>
									</div>
								</div>
<!-- 
								<div id="xinmeng-counter" class="xinmeng-counters"
									style="background-image: url(images/cover_bg_1.jpg);"
									data-stellar-background-ratio="0.5">
									<div class="overlay"></div>
									<div class="xinmeng-narrow-content">
										<div class="row">
										</div>
										<div class="row">
											<div class="col-md-3 text-center">
												<span class="xinmeng-counter js-counter" data-from="0" data-to="18000"
													data-speed="5000" data-refresh-interval="50"></span>
												<span class="xinmeng-counter-label">Households</span>
											</div>
											<div class="col-md-3 text-center">
												<span class="xinmeng-counter js-counter" data-from="0" data-to="15"
													data-speed="5000" data-refresh-interval="50"></span>
												<span class="xinmeng-counter-label">Cities</span>
											</div>
											<div class="col-md-3 text-center">
												<span class="xinmeng-counter js-counter" data-from="0" data-to="10"
													data-speed="5000" data-refresh-interval="50"></span>
												<span class="xinmeng-counter-label">Regions in China</span>
											</div>
											<div class="col-md-3 text-center">
												<span class="xinmeng-counter js-counter" data-from="0" data-to="7"
													data-speed="5000" data-refresh-interval="50"></span>
												<span class="xinmeng-counter-label">Waves of Survey</span>
											</div>
										</div>
									</div>
								</div> -->

								<div class="row">
									<div class="col-md-12">
										
										<p><a href="https://github.com/rumic-anu"><img src="rumic_banner.png" title="Rural Urban Migration in China Project banner" style="width: 100%; max-width:600px;" /></a></p>

									</div>
								</div>
							</div>
						</div>
					</div>

				</section>

				<section id="thoughts" class="xinmeng-about" data-section="thoughts">
					<div class="xinmeng-narrow-content">
						<div class="row">
							<div class="col-md-6 col-md-offset-3 col-md-pull-3">
								<h2 class="xinmeng-heading">Random Thoughts</h2>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">

								{% capture my_include %}{% include random_thoughts.md %}{% endcapture %}
								{{ my_include | markdownify }}

							</div>
						</div>

					</div>
				</section>

				<section id="contact" class="xinmeng-about" data-section="contact">
					<div class="xinmeng-narrow-content">
						<div class="row">
							<div class="col-md-6 col-md-offset-3 col-md-pull-3">
								<h2 class="xinmeng-heading">Contact</h2>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">

								{% capture my_include %}{% include contact.md %}{% endcapture %}
								{{ my_include | markdownify }}

							</div>
						</div>

					</div>
				</section>

			</div><!-- end:xinmeng-main -->
		</div><!-- end:container-wrap -->
	</div><!-- end:xinmeng-page -->

	<!-- jQuery -->
	<script src="{{ site.baseurl }}assets/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="{{ site.baseurl }}assets/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="{{ site.baseurl }}assets/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="{{ site.baseurl }}assets/js/jquery.waypoints.min.js"></script>
	<!-- Counters -->
	<script src="{{ site.baseurl }}assets/js/jquery.countTo.js"></script>


	<!-- MAIN JS -->
	<script src="{{ site.baseurl }}assets/js/main.js"></script>

</body>

</html>